/* colors */
$blackBasic: #1A1F24;
$black: #1C1917;
$green: #69A042;
$grey: #64696E;
$greyDark: #383D42;
$grayLight: #EEEEEE;
$greyBorder: #BEC3C8;
$greyDisabled: #E6EBF0;
$greyText: #C8CDD2;
$orange: #FB923C;
$red: #B91C1C;
$white: #FFFFFF;